body {
  margin: auto;
  background-color: #1a1a1a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #9a9c00;
}

.nav-class {
  width: 90vw;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 0.2rem solid #9a9c00;
  border-radius: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-class .nav-link {
  font-size: 1.2rem;
  font-family: 'Lexend Peta', sans-serif;
}

.modal-container {
  margin: 0;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal {
  background-color: whitesmoke;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal .btn-add, .modal-container .modal .btn-cancel, .modal-container .modal .btn-edit {
  padding: 0.5rem 1rem;
  background-color: #017201;
}

.modal-container .modal .btn-cancel {
  background-color: #8b0000;
}

.modal-container .modal .btn-add:hover {
  background-color: #00c300;
  color: white;
}

.modal-container .modal .btn-cancel:hover {
  background-color: #d80000;
  color: white;
}

.modal-container .modal .btn-edit:hover {
  background-color: #00c300;
  color: white;
}

.no-ver {
  display: none;
}

.botones {
  margin: auto;
  margin-bottom: 1.5rem;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.botones .total {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.ingreso, .gasto {
  margin: 0 10px;
  color: #000;
  background-color: #017201;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

.gasto {
  background-color: #8b0000;
}

.ingreso:hover {
  background-color: #00c300;
  color: whitesmoke;
}

.gasto:hover {
  background-color: #d80000;
  color: whitesmoke;
}

.box-titulos {
  margin: auto;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid whitesmoke;
}

.box-titulos .titulos {
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.i {
  background-color: #00ad00;
}

.g {
  background-color: #ff3d3d;
}

.acciones .btn-editar {
  background-color: #0000be;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.acciones .btn-eliminar {
  background-color: #b90000;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}
/*# sourceMappingURL=cuenta.css.map */