.titulo{
    font-size: 4rem;
    text-align: center;
    margin: 2rem auto;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.parrafo{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.reg{
    color:  #9a9c00;
}
.reg:hover{
    color: #ffffff;
}